{% extends 'djapp/base.html' %}
{% load static %}
<html> 
<head>
   
    <title>
        home page 
    </title> 
    
</head>
<body>
    {% block title_block %}
    <h1>  home page </h1> 
    <a href="{% url 'add' %}" class="btn btn-info"> add new </a>

<img src="{% static 'img/1.png' %}" alt="">
{% endblock %}
{% block main_block %}
<table border= "1" class="table">
    <tbody>
    <tr>
        <th>First Name</th>
        <th>Last Nmae</th>
        <th>Age</th>
        <th>Track</th>
    
    </tr> 
    {% for i in students %}
    <tr>
    <td> {{ i.fname }}</td>
     <td> {{ i.lname }}</td>
    <td> {{ i.age }}</td>
    <td> {{ i.std_track }}</td>
    <td><a href="/djapp/detail/{{i.id}}">show</a></td>
    <td><a href="{% url 'detail' i.id %} ">show</a></td>
    <td><a href="{% url 'delete' i.id %}">del</a></td>
    <td><a href="{% url 'edit' i.id %}">edit</a></td>


</tr> 
     {% endfor %}
</tbody>

</table>
{% endblock %}

</body>
</html>